html, body {
	display: flex;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#map {
	display: flex;
	height: 100%;
	width: 100%;
	order: 2;
}

.listings {
	width: 30%;
	display: flex;
	order: 1;
	height: 20%;
	margin: 30px;
}

.options {
	width: 100%;
	height: 100%;
}

.each {
	width: 100%;
	margin: 0;
}
